extends layout

block content
	form(name = "login", action = "/login", method = "post")#login-form
		label Top Kik 
			input(type = "text", name = "user", id = 'user')
		br
		br

		label Pass Kik 
			input(type = "password", name = "pass", id = 'pass')
		br
		br

		button(type = "submit")#submit.btn
			| Log in
