extends layout

block content
    h1	Insert Song
    form#formAddUser(name="addsong",method="post",action="/addsong")
        input#inputSongTitle(type="text", placeholder="song", name="sheetTitle")
        br
        input#inputSongArtist(type="text", placeholder="artist", name="sheetArtist")
        br
        input#inputSongTablature(type="text", placeholder="tab", name="sheetContent")
        br
        br
        button#btnSubmit(type="submit") submit